
<!DOCTYPE html>
<html>

<head>

</head>
<body>
    <a href="/Information">Information</a>
    <a href="/Login">Login</a>
    <a href="/TrickCenter">Trick Center</a>
    <a href="/Food">Food</a>
    <a href="/Drink">Drink</a>
</body>
</html>