@using loginPage.Models
@model Fox
    <!DOCTYPE html>
    <html>

    <head>

    </head>
    <body>
        <form action="TrickCenter" method="post">
    <input list="tricks" name="tricks">
    <datalist id="tricks">
        <option value="Write HTML">
        <option value="Code w/ C#">
        <option value="Count">
        <option value="Speak">
        <option value="Juggle">
    </datalist>
    <input type="submit">
</form>
        
    </body>
</html>
