
<!DOCTYPE html>
<html>

<head>

</head>
<body>
    <h1>Welcome to Programmer Fox Club!</h1>
    <p>Please provide a name, so you can associate it to your pet!</p>
    <form method="post" action="login">
    <label for="name">Name: </label>
    <input id="name" name="name" type="text" placeholder="">
    <button type="submit">OK</button>
    </form>
</body>
</html>